<?xml version="1.0"?>
<configuration>
  <dllmap dll="opencv_core248" target="libopencv_core.so" />
  <dllmap dll="opencv_imgproc248" target="libopencv_imgproc.so" />
  <dllmap dll="opencv_highgui248" target="libopencv_highgui.so" />
  <dllmap dll="opencv_calib3d248" target="libopencv_calib3d.so" />
  <dllmap dll="opencv_objdetect248" target="libopencv_objdetect.so" />
  <dllmap dll="opencv_video248" target="libopencv_video.so" />
</configuration>